* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
}

article {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  background: rgb(0,239,255);
  background: linear-gradient(0deg, rgba(0,239,255,1) 40%, #4e54c8 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}

h1 {
  margin:2rem 0 1rem;
  color: rgba(0,239,255,1);
  text-align: right;
}


img {
  width:10em;
  border-radius:20em;
  border:5px solid #fff;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:relative;
  top:2rem;
  transition:.25s .15s;
}

dl {
  width:100%;
  background: rgb(255,255,255);
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -3rem;
  margin-bottom: 0;
  text-align: right;
}

//dt{
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}


//p { 
  margin:0
}

//article > p {
  padding:3rem 2rem;
  margin-top: 0;
  background:rgba(255,255,255, 0.5);
  text-align:left;
  border-radius: 0 0 1rem 1rem;
  width:200%;
}

div{
  display: flex;
  
}
.naam{
  text-align: right;

}
.text{
 
}
.div{
  
}